<h1>Editing Membership</h1>

<%= render 'form', button_name: "Update membership" %>

 <%= link_to 'Destroy', @membership, method: :delete, data: { confirm: 'Are you sure?  This membership will be lost 4eva' } %>