<h2>Welcome to the tPC Management App</h2>
    <ul>
        <li><%= link_to "Add member to stripe", new_charge_path %></li>
        <li><%= link_to "View and edit members database", members_path %></li>
        <li><%= link_to "Manage keycards", keycards_path %></li>
        
    </ul>
