
    <div class="form-group">
        <h2>Member Management</h2>
        <br/>

            <ul style="list-style-type:none">
                <li>
                    <i class="material-icons">person </i>
                    <%= link_to "Members Database", members_path, :class =>"" %> <br/>
                    
                      <i class="material-icons">plus</i>
                    <%= link_to "Create New Member", new_member_path, :class =>""  %>
                </li>
                <br/>
                <br/>
          
                <li>
                    <i class="material-icons">group</i>
                    <%= link_to "Teams Database", teams_path, :class =>""  %> <br/>
                    <i class="material-icons">plus</i>
                    <%= link_to "Create New Team", new_team_path, :class =>""  %>
                </li>

            </ul>
            <br/>


    </div>


