
<div class="align-center">
    <h2>Welcome to the tPC Management App</h2>
    <div class="welcome-menu">
        
            <ul style="list-style-type:none">
                <li><button type="button" class="btn btn-default pad-5"><%= link_to "Add member to stripe", new_charge_path %></button></li>
                <li>  <button type="button" class="btn btn-default pad-5"><%= link_to "Members database", members_path %></button></li>
                <li>  <button type="button" class="btn btn-default pad-5"><%= link_to "Manage keycards", keycards_path %></button></li>
            </ul>
    </div>
</div>