
    <div class="form-group">
        <h1>Dashboard</h1>
        <hr>
        <h3>Future dashboard to-dos will go here</h3>
        <hr>
        <br/>
        <h3>Quick links</h3>
            <ul style="list-style-type:none">
                <li>
                    
                    <%= link_to "Members Database", members_path, :class =>"" %> <br/>
                    
                     
                    <%= link_to "+ New Member", new_member_path, :class =>""  %>
                </li>
                <br/>
                <br/>
          
                <li>
                    
                    <%= link_to "Teams Database", teams_path, :class =>""  %> <br/>
                    
                    <%= link_to "+ New Team", new_team_path, :class =>""  %>
                </li>
            </ul>
            <h3>Other links</h3>
            <ul style="list-style-type:none">
                <br/>
                
                <li><a href="https://the-pioneer-collective.yarooms.com/schedule/weekly">YaRooms</a></li>
                <li><a href="https://35.167.190.148:8443/manage/">Unifi WiFi Management</a></li>
                

            </ul>
            <br/>
              <br/>
                <br/><br/>
              <br/>
                <br/><br/>
              <br/>
                <br/><br/>
              <br/>
                <br/>


    </div>


