
    <div class="form-group">
        <h1>Dashboard</h1>
        <hr>
        <h3>Future dashboard to-dos will go here</h3>
        <hr>
        <br/>
        <h2>Quick links</h2>
            <ul style="list-style-type:none">
            
              
                <li><a href="https://www.invoiceninja.com/"><img src="https://c2.staticflickr.com/2/1721/40785394980_7518ce3ec8_o.png"><strong> Invoice Ninja</strong></a> (Send an invoice for one-off rentals)</li>
                <br/>
                <li><a href="https://thepioneercollective.slack.com/messages"><img src="https://cdn-images-1.medium.com/fit/c/40/40/0*FuRTmrw2LLbrau2u.png"><strong> tPC Slack</strong></a> (internal communication)</li><br/>
                <li><a href="https://the-pioneer-collective.yarooms.com/account/login"><img src="https://c2.staticflickr.com/8/7583/26230095334_43883849c2_o.jpg"><strong> YaRooms Conference Rooms</strong></a> (manage tPC rooms)</li><br/>
                <li><a href="https://35.167.190.148:8443/manage/"><img src="https://c2.staticflickr.com/8/7518/26745599292_74678eb211_o.jpg"><strong> UniFi WiFI Management</strong></a> (reset wireless access points)</li><br/>
            </ul>
            <ul>
                <strong>
                
                <br/>
                <li><a href="http://www.support.xerox.com/support/workcentre-7545-7556/downloads/enus.html?associatedProduct=XRIP_WC7525_base">Download Xerox printer drivers</a></li>
                <li>Printer troubleshooting IP Address: 192.168.1.25 // admin: 1111</li>
                <br/>
                <li><a href="https://www.thepioneercollective.com/directory#!directory">Member Facing Directory</a> // <a href="https://www.thepioneercollective.com/directory-sign-up#join">Add New Listing</a> // <a href="https://www.thepioneercollective.com/directory-manage#myaccount">Manage Existing Listing</a></li>
                <li><a href="">Community Guidelines</a></li>
                <li><a href="">Member Resources Page</a></li>
                <li><a href="https://docs.google.com/spreadsheets/d/1xRnGRyEiQtKYGkrZNH_OPZUo3hWzBtnBzeFFkL9um7w/edit#gid=0">List of members with mail service</a></li>
                <br/>
                <li>Call/text Chris
                425.442.5119 OR team@thepioneercollective.com </li>
                <li>Call/text Audrey
                206.310.2863 OR team@thepioneercollective.com </li>
                <li>Chelsea Glaskill (Pinnacle building manager)
                425.453.5737 OR BCarroll@pinnacle-commercial.com </li>
                </strong>
            </ul>
            
        <h2>Training Guides</h2>
        
        <h3>Day-to-day Operations</h3>
            <ul>
                <li>Opening duties</li>
                <li>Closing duties</li>
                <li>Front desk duties</li>
                <li>WiFi and internet management</li>
                <li>Beverage Fridge & Tea Ordering</li> 
                <li>Elm Coffee ordering portal (password is tpcstaff1987)</li>
                <li>Member Management / Coworking</li>
            
                <li>Folder - training videos and screencasts</li>
                <li>Onboarding new members</li>
                <li>Offboarding canceled members</li> 
                <li>Mail setup and form 1583</li>
                <li>Dealing with requests and issues [Coming Soon]</li>
                <li>Giving tours [Coming Soon]</li>
            </ul>
        <h3>Meetings</h3>
            <ul>
                <li>Booking meetings</li>
                <li>Meeting setup/breakdown</li>
                <li>Events  -  tPC 1st Floor</li>
                
                <li>Booking events [Coming Soon]</li>
                <li>Event setup / breakdown</li>
                <li>Printable PRIVATE EVENT Sign</li>
                <li>Event Floorplan</li>
            </ul>


    </div>


