<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Thanks for signing up, !</h1>
    <p><br/>
        Welcome to your first day at The Pioneer Collective.  While you&#8217;re getting settled in, there are a few housekeeping items for you to familiarize yourself with. 
        This email is meant to be your guide for all things related to being a member at tPC. Please reach out to us if anything is unclear!
        </p>
        <ol>
            <li>General membership to-dos</li>
            
            
                <ul>
                    <li><a href="https://drive.google.com/open?id=0BwD9Mg3i4EUZSzFpVVl5em41RTg">Download, sign and return your membership contract</a></li>
                    <li><a href="http://www.thepioneercollective.com/member-resources">Community guidelines - Please Read</a></li>
                    <li>Set up Stripe subscription or prepay via check (3, 6 or 12 month agreements) at the front desk.  Month-to-month members will be charged on the 
                    first day of membership 
                    and a recurring charge will be initiated for that date each subsequent month until cancellation.  Please give 7 days notice for cancellations.</li>
                    <li>Key card access: 
                    Designated Desk and Community FT- you will be issued a 24/7 keycard after a one week waiting period.  A $50 deposit will be due at issue, $25 is 
                    refundable upon termination of your membership.
                    </li>
                </ul>
            </li>

            <li>Member resources</li>
                <ul>
                <h3>You can revisit these by clicking the link in the footer of our webpage, <a href="http://www.thepioneercollective.com/member-resources">or clicking this link</a> (password is membersonly)</h3>
                <li>Printing - <a href="http://www.support.xerox.com/support/workcentre-7545-7556/downloads/enus.html?operatingSystem=win7x64">Download Xerox 7545 printer drivers here.</a>  Make sure to choose the correct version for your operating system.  
                Once downloaded, begin install, a test page should print when finished.</li>
                <h3>Food</h3>
                <li>>Molly's - if you take a sandwich, salad, or wrap, just pay for it via credit card using the Square reader on the iPad</li>
                <li>Peach - if you are interested in receiving Peach deliveries for lunch, <a href="http://peachd.com/pioneercollective">sign up here: peachd.com/pioneercollective</a> There is no obligation to order anything, 
                and they'll notify you of the options each week.</li>
                <h3>Conference room booking</h3>
                <li><a href="https://the-pioneer-collective.yarooms.com/account/login">Sign up for YaRooms!</a></li>
                <li>Member communication on Slack - <a href="https://the-pioneer-collective.herokuapp.com/">join the TPC #members thread on Slack.</a>  This is where we share resources, make plans, announce events, and waste time.</li>
                <li><a href="http://www.thepioneercollective.com/member-resources">Members Calendar </a>- events, activities at TPC and around our neighborhood (includes Century Link and Safeco Field events)</li>
                <h3>After Hours / Weekend Contact Numbers</h3>
                <li>Pinnacle Property Management - (425) 453-5734 - After hours building related emergencies (leaks, locked out etc.) </li>
                <li>Chris Hoyt - (425) 442-5119 - Use for emergencies.  For non-emergencies please use Slack.</li>
                <h3>Member Directory - create a listing!<h3>
                <li><a href="http://www.thepioneercollective.com/directory-sign-up#join">Create your listing here</a></li>
                <li><a href="http://www.thepioneercollective.com/directory#!directory">View the directory here:</a>  (pw is membersonly)</li>
                </ul>
            
            </li>
            
          
            
            
            <h3>Last to leave? Closing Duties </h3>
            
            <p>If you are the last to leave please complete the following:</p>
            
            <ol>
            
                <li>Make sure lock switch and front door is red (test the door after it shuts behind you to make sure it is locked.)</li>
                
                <img src="https://c2.staticflickr.com/8/7688/27698546703_6e329b8bef_o.png"/>
                
                
                <li>Flip both light switches at lobby door off</li>
                
                <img src="https://c2.staticflickr.com/8/7600/27698546593_fd4ce2921e_o.png"/>
                
                </ol>
            
            
            <p>Welcome to the team!  We look forward to working alongside you!
            <br/><br/>
            
            Sincerely,

            <br/><br/>

            
            Audrey Hoyt & Chris Hoyt   
            <br/><br/>
            100 S. King Street Suite 100<br/>
            Seattle, WA 98104<br/>
            team@thepioneercollective.com <br/>
            www.thepioneercollective.com<br/>
            </p>
  </body>
</html>