<div class="row">
  <div class="col-sm-3"></div>
  <div class="col-sm-6 center-box">
      <div class="row">
          <div class="col-sm-1"></div>
          <div class="col-sm-6">
          <h2 class="default-title uppercase">Add New Keycard</h2>
    
            <%= render 'form' %>
            
            <%= link_to 'Back', keycards_path %>
        
       </div>
      </div>
  </div>
</div>
