@import "bootstrap-sprockets";

@import "bootstrap";

nav.nav-bar {
    height: 100px;
    border-bottom: 1px solid grey;
    
    
    
    li { float: left;
         text-align: center;
         margin-left: 10px;
         margin-right: 10px;
         
    }
    
    ul { 
         
         letter-spacing: 3px;
         list-style: none;
         max-width: 1500px;
         padding-top: 20px;
         text-transform: uppercase;
        
    }
}

h1.main-title {
    font-size: 20pt;
    letter-spacing: 5px;
    margin-left: 45px;
    text-transform: uppercase;
}

h2.main-title {
    font-size: 10pt;
    letter-spacing: 5px;
    margin-left: 45px;
    text-transform: uppercase;
}