

@import "bootstrap-sprockets";
@import "bootstrap";

body { 
  background: image-url('blur.jpg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: georgia, serif;
  font-size: 14pt!important;
  color: white;
}

h1, h2, h3 {
    padding-bottom: 5px;
    padding-top: 5px;
    color: rgba(241, 196, 15, .8)!important;
    text-transform: uppercase;
    letter-spacing: 2px;
}

h2 {
    font-size: 15pt!important;
    font-weight: bold;
}

h3 {
    font-size: 14pt;
}

h1.member-name {
    background: rgba(255, 255, 255, 0.5);
    color: rgba(1, 1, 1, .8)!important;
    font-size: 14pt;
    font-weight: bold;
    letter-spacing: 2px;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    margin-top: -10px;
    padding-top: 10px;
    text-transform: none;
}



.default-title {

    font-family: georgia;
    font-weight: normal;
    letter-spacing: 2px;
}



.align-center {
    text-align: center;
}

.btn.btn-default {
    background: rgba(241, 196, 15, .8);
    border-radius: 0;
    border: 0;
    color: white;
    font-weight: normal;
    font-size: 12pt;
    letter-spacing: 2px;
    height: 50px;
    margin-bottom: 10px;
    margin-right: 10px;
    margin-top: 10px;
    padding-top: 15px;
    width: 270px;
    
    a:hover, a:visited, a:link {
        color: black;
        background: none;
        text-decoration: none;
    }
    
    .blue {
        background: rgba(151, 196, 15, .8);
    }
    
}

.btn.btn-default:hover {
    background: rgba(27, 222, 93, .9);

}

.center-box {
    background-color: rgba(0, 0, 0, 0.5);
    padding-bottom: 50px;
    text-align: center;
    
    ul {
         list-style-type: none;
        
    }
    
}

.welcome-menu {
    
    margin-left: auto;
    margin-right: auto;
    padding-top: 50px;
    width: 75%;
    text-align: center;
    
    ul {
         list-style-type: none;
        
    }
    
    li {
        float: left;
        list-style: none;
        display: inline-block; 
        text-decoration: none;
       
    }
    
    
}


.main-title {

    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 300px;
}

.navbar.navbar-default {
    background-color: white;
}
.navbar-brand {
    padding-top:0!important;
    
}

.pad-5 {
    padding: 5px;
}





.table {
    background-color: rgba(255, 255, 255, 0);
    margin-top: 50px;
    vertical-align: middle;
    color: white;
     
     td {
        font-size: 10pt;
        padding: 15px;
        vertical-align: middle!important;
    }
    
    th {
        background: rgba(0, 0, 0, 0.4);
        font-size: 10pt;
        vertical-align: middle!important;
    }
    
    .tpc-head {
        font-size: 14pt;
    }
    
 }
 
.details-table {
     width: 700px!important;
     margin-left: auto;
     margin-right: auto;
 }

.uppercase {
    text-transform: uppercase;
}


.orange {
    color: rgba(241, 196, 15, .8);
}

.white {
    color: white!important;
}

