

@import "bootstrap";

body { 

  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-color: #A8DCE5!important;
  font-family: "Garamond";
  font-size: 14pt!important;
 
}

table td, table li, table th {
  font-family: "Garamond"!important;
}



h1, h2, h3 {
    padding-bottom: 5px;
    padding-top: 5px;
    color: #43403C!important;
    font-family: "Garamond", serif!important;
    font-weight: bold;
   
}

h2 {
    font-size: 34pt!important;
   
}

h3 {
    font-size: 14pt;
}

h1.member-name {
  
    font-size: 34pt;
    font-weight: bold;
    letter-spacing: 2px;
    // width: 300px;
    margin-top: -10px;
    padding-top: 10px;
    text-transform: none;
}

a:visited {
    color: #337ab7;
}

a:hover {background: none;}



.default-title {

    font-weight: normal;
    letter-spacing: 2px;
}



.align-center {
    text-align: center;
}

.btn.btn-default {
    
    background-color: transparent;
    border-radius: 3;
    border: 2px #5BC7D4 solid;
    color: #43403C!important;
    font-family: "Garamond";
    font-weight: normal;
    font-size: 12pt;
    letter-spacing: 2px;
    height: 50px;
    margin-bottom: 10px;
    margin-right: 10px;
    margin-top: 10px;
    padding-top: 15px;
    width: 220px;
    

    
    .blue {
        background: rgba(151, 196, 15, .8);
    }
    
}



.center-box {
    background-color: rgba(0, 0, 0, 0.5);
    padding-bottom: 50px;
    
    
    ul {
         list-style-type: none;
        
    }
    
}






.pad-5 {
    padding: 5px;
}





.table {
    background-color: #F0F0F1;
    margin-top: 50px;
     
     td {
        font-size: 10pt;
        padding: 15px;
        vertical-align: middle!important;
    }
    
    th {
        
        font-size: 10pt;
        vertical-align: middle!important;
    }
    
    .tpc-head {
        font-size: 14pt;
    }
    
 }
 
.details-table {
     width: 700px!important;
 }

.uppercase {
    text-transform: uppercase;
}




.white {
    color: white!important;
}



.breadcrumbs {
    font-size: 12pt;
    float: right;
    padding: 5px;

    
}