@import "bootstrap-sprockets";

@import "bootstrap";

nav {
    
    border-bottom: 1px solid grey;
    
    
    
    li { float: left;
         text-align: center;
         margin-left: 10px;
         margin-right: 10px;
         
    }
    
    ul { 
         
         letter-spacing: 3px;
         list-style: none;
         width: 900px;
         margin: 0 auto; 
         text-transform: uppercase;
        
    }
}

h1.main-title {
    font-size: 20pt;
    letter-spacing: 5px;
    text-align: center;
    text-transform: uppercase;
}