

@import "bootstrap";

body { 

  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-size: 14pt!important;
  font-family: "Helvetica Neue", Helvetica, "Segoe UI" Arial, sans-serif;
  letter-spacing: .01em;
 
}




h1, h2, h3 {
    padding-bottom: 5px;
    padding-top: 5px;
    color: #43403C!important;
    font-weight: 400!important;
   
}

h2 {
    font-size: 24pt!important;
   
}

h3 {
    font-size: 14pt;
}

h1.member-name {
  
    font-size: 34pt;
    letter-spacing: 2px;
    // width: 300px;
    margin-top: -10px;
    padding-top: 10px;
    text-transform: none;
}

a:visited {
    color: #337ab7;
}

a:hover { 
  background-color: transparent!important;
  text-decoration: none; 
}


.align-center {
    text-align: center;
}

.btn.btn-default {
    
    background-color: transparent;
    border-radius: 3;
    border: 2px #5BC7D4 solid;
    color: #43403C!important;
    font-weight: normal;
    font-size: 10pt;
    height: 50px;
    margin-bottom: 10px;
    margin-right: 10px;
    margin-top: 10px;
    padding-top: 15px;

    
    .blue {
        background: rgba(151, 196, 15, .8);
    }
    
}



.center-box {
    background-color: rgba(0, 0, 0, 0.5);
    padding-bottom: 50px;
    
    
    ul {
         list-style-type: none;
        
    }
    
}






.pad-5 {
    padding: 5px;
}





.table {
    margin-top: 50px;
     
     td {
        font-size: 9pt;
        padding: 12px;
        vertical-align: middle!important;
    }
    
    th {
        
        font-size: 9pt;
        vertical-align: middle!important;
    }
    
    .tpc-head {
        font-size: 14pt;
    }
    
 }
 
.details-table {
     width: 700px!important;
 }

.uppercase {
    text-transform: uppercase;
}




.white {
    color: white!important;
}



.breadcrumbs {
    font-size: 12pt;
    float: right;
    padding: 5px;

    
}

.float-right {
    float: right;
}