

@import "bootstrap-sprockets";
@import "bootstrap";

body { 
  background: image-url('blur.jpg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: georgia, serif;
  font-size: 14pt!important;
}

h1, h2, h3 {
    padding-bottom: 5px;
    padding-top: 5px;
}



.default-title {
    color: #373737;
    font-family: georgia;
    font-weight: bold;
    letter-spacing: 1px;
}



.align-center {
    text-align: center;
}

.btn.btn-default {
    background-color: rgba(255, 255, 255, 0.6);
    border: black 2px solid;
    color: black;
    font-weight: bold;
    height: 50px;
    margin-bottom: 10px;
    margin-right: 10px;
    margin-top: 10px;
    padding-top: 15px;
    text-transform: uppercase;
    width: 250px;
    
    a:hover, a:visited, a:link {
        color: black;
        background: none;
        text-decoration: none;
    }
    
}

.btn.btn-default:hover {
    background: rgba(237, 222, 93, .8);
    border: black 2px solid;
}

.center-box {
    background-color: rgba(255, 255, 255, 0.7);
    padding-bottom: 50px;
    border: black 1px solid;
    
}



.welcome-menu {
    
    margin-left: auto;
    margin-right: auto;
    padding-top: 50px;
    width: 75%;
    text-align: center;
    
    ul {
        
    }
    
    li {
        float: left;
        list-style: none;
        display: inline-block; 
    }
    
    
}


.main-title {

    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 300px;
}

.navbar.navbar-default {
    background-color: white;
}
.navbar-brand {
    padding-top:0!important;
    
}

.pad-5 {
    padding: 5px;
}





.table {
    background-color: rgba(255, 255, 255, 0.6);
    border: black 2px solid;
    margin-top: 50px;
    vertical-align: middle;
     
     td {
        font-size: 12pt;
        padding: 15px;
        vertical-align: middle!important;
    }
    
    th {
        background: rgba(0, 0, 0, 0.4);
        color: white;
        text-align: center;
    }
    
    .tpc-head {
        font-size: 14pt;
    }
    
 }

.uppercase {
    text-transform: uppercase;
}

.huge {
    font-size: 2.5em;
}