label{
 width: 150px;
 float: left;
 font-weight: normal;
}

input {
    display: inline-block;
    padding-top: 10px;
    font-size: 16pt;
    background-color: transparent;
}

textarea {
    border:1px solid black;
    padding-top: 10px;
    font-size: 16pt;
    background-color: transparent;
    
}

.field {
    padding-top: 10px;
    font-size: 16pt;
    background-color: transparent;
    color: black;
}

.field-wide {
    width: 500px;
    background-color: transparent;
}

.form-group {
    
    border-radius: 25px;
    background: #f8f8f8;
    min-height: 150px;
    padding: 20px;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    
    @media (min-width: 1000px) {
        margin-right: 12%;
        margin-left: 12%;
        margin-top: 15px;
    }
}

.strikethrough {
    text-decoration: line-through;
    font-style: italic;
}

 select
    {
        border-bottom:1px solid black;
        border-top: 0;
        border-left: 0;
        border-right: 0;
        outline:0px;
        background-color: transparent;
    }
    

option { 
    /* Whatever color  you want */
    background-color: rgba(255, 255, 255, 0.2)!important;
    color: black;

}