label{
 width: 150px;
 float: left;
 font-weight: normal;
}

input {
    display: inline-block;
    padding-top: 10px;
    font-size: 16pt;
    background-color: transparent;
}

textarea {
    border:1px solid black;
    padding-top: 10px;
    font-size: 16pt;
    background-color: transparent;
    
}

.field {
    padding-top: 10px;
    font-size: 16pt;
    background-color: transparent;
    color: black;
}

.field-wide {
    width: 500px;
    background-color: transparent;
}

.form-group {
    background-color: #F0F0F1;
    border-radius: 3;
    min-height: 150px;
    padding: 20px;
}

.strikethrough {
    text-decoration: line-through;
    font-style: italic;
}

 select
    {
        border-bottom:1px solid black;
        border-top: 0;
        border-left: 0;
        border-right: 0;
        outline:0px;
        background-color: transparent;
    }
    

option { 
    /* Whatever color  you want */
    background-color: rgba(255, 255, 255, 0.2)!important;
    color: black;

}