// Place all the styles related to the Members controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


table {
    border: 1px solid;
    
        th, td{
            padding: 20px;
            border-bottom: 1px solid;
        }
        
        th {
            text-align: center;
        }
    }