<h2>Thanks, you've registered a new customer! </h2>

<button><a href="https://secret-thicket-9749.herokuapp.com/">Return to Staff Page</a></button>
<button><a href="http://www.thepioneercollective.com/">TPC Home Page</a></button>