<!DOCTYPE html>
<html>
<head>
  <title>Workspace</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <h1 class="main-title">The Pioneer Collective</h1>
  <h2 class="main-title">Staff portal</h2>
    <nav class="nav-bar">
     <ul>
        <li><a href="http://www.thepioneercollective.com/">Home</a></li>
      
      </ul>
    </nav>

  <div class="container-fluid">

    <%= yield %>
    
  </div>
  
</body>
</html>
