<div class="row">
  <div class="col-sm-3"></div>
  <div class="col-sm-6 center-box">
      <div class="row">
          <div class="col-sm-1"></div>
          <div class="col-sm-9">
                <h1>New Member</h1>
                
                <%= render 'form' %>
                
                <%= link_to 'Back', members_path %>
                
                
           </div>
      </div>
  </div>
</div>

